<div ng-app="MyMovieApp" ng-controller="CreateMovieController">
    <form>
        <div class="form-vertical">
            <h4>Movie</h4>
            <hr />
            <div class="form-group">
                <label for="Create-Title-Input">Title:</label>
                <input type="text" class="form-control" id="Create-Title-Input" />
            </div>

            <div class="form-group">
                <label for="Create-Date-Input">Release Date:</label>
                <input type="text" class="form-control" id="Create-Date-Input" />
            </div>

            <div class="form-group">
                <label for="Create-Genre-Input">Genre:</label>
                <input type="text" class="form-control" id="Create-Genre-Input" />
            </div>

            <div class="form-group">
                <label for="Create-Rating-Input">Rating:</label>
                <input type="text" class="form-control" id="Create-Rating-Input" />
            </div>

            <div class="form-group">
                <label for="Create-Price-Input">Price:</label>
                <input type="text" class="form-control" id="Create-Price-Input" />

            </div>
            <div class="form-group">
                <div ng-click="MovieCreate()" class="btn btn-primary">Create</div>

            </div>
        </div>
    </form>
</div>
    <div>
        <a href="/Movies/Index">Back to List</a>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
<script>
    var app = angular.module('MyMovieApp', [])

    app.factory('createmoviefactory', function ($http) {
        return {
            CreateMovie: function (movie, callback) {
                $http({ method: "POST", url: "/Movies/Create", data: movie }).then(function (data) {
                    callback(data.data);
                });
            }
        }
    });

    app.controller('CreateMovieController', function ($scope, $http, createmoviefactory) {
        $scope.movie = {};

        $scope.GetNewMovie = function (callback) {
            detailsfactory.CreateMovie($scope.NewMovie, callback);
        }
        $scope.SetNewMovie = function (response) {
            $scope.movie = response.data;
        }
        $scope.MovieCreate = function () {
            $scope.movie.MovieName = $('#Create-Title-Input').val();
            $scope.movie.ReleaseDate = $('#Create-Date-Input').val();
            $scope.movie.Genre = $('#Create-Genre-Input').val();
            $scope.movie.Rating = $('#Create-Rating-Input').val();
            $scope.movie.Price = $('#Create-Price-Input').val();
            createmoviefactory.CreateMovie($scope.movie, $scope.SetNewMovie);
        }
    });
</script>