

<h2>Details</h2>

<div ng-controller="DetailsController">
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>

        <dd>
            {{ Details.MovieName }}
        </dd>

        <dt>
            Release Date
        </dt>

        <dd>
            {{ Details.StringReleaseDate }}
        </dd>

        <dt>
            Genre
        </dt>

        <dd>
            {{ Details.Genre }}
        </dd>

        <dt>
            Rating
        </dt>

        <dd>
            {{ Details.Rating }}
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            {{ Details.Price | currency }}
        </dd>

    </dl>

    <p>
        <a href="/Movies/Edit/{{ MovieId }}">Edit</a> |
        <a href="/Movies/Index">Back to List</a>
    </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
<script>
    var app = angular.module("MyMovieApp", []);
    app.factory('detailsfactory', function ($http) {
        return {
            GetDetails: function (ID, callback) {
                $http({ method: "GET", url: "/Movies/GetMovieDetails/"+ID }).then(function(data) {
                    callback(data);
                });
            }
        }
    });

    app.controller("DetailsController", function ($scope, $http, detailsfactory) {
        $scope.Details = {};
        $scope.URL = window.location.href
        $scope.MovieId = $scope.URL.substring($scope.URL.lastIndexOf('/') + 1);
        
        $scope.GetDetail = function (callback) {
            detailsfactory.GetDetails($scope.MovieId, callback);
        }
        $scope.SetDetails = function (response) {
            $scope.Details = response.data;
        }
        $scope.DisplayDetails = function () {
            detailsfactory.ShowDetails($scope.Details, $scope.SetDetails);
        }
        $scope.GetDetail($scope.SetDetails);
        
    });
</script>